{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/accessibility.css' %}?v=6">
    <link rel="stylesheet" href="{% static 'css/accessibility-admin.css' %}?v=3">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/accessibility-init.js' %}?v=1"></script>
    <script src="{% static 'js/accessibility.js' %}?v=1" defer></script>
{% endblock %}

{% block branding %}
    <div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
    {% include "includes/accessibility_widget.html" %}
{% endblock %}
